**/build/*
**/devel/*
*/build/*
*/devel/*
./*/devel/*
./*/build/*
**/output/*
**/*build-*
*/cmake-build-debug/*
**/cmake-build-debug/*
./build/
./devel/
./build/*
./devel/*
./output/*
./*build-*
**/*buildpc*
*.swp
*.kdev4
*.user
**/.idea
*.DS_Store
.tags
.tags_sorted_by_file
.ycm*
.vscode/
tags
userdata/slam/slamdata.*
userdata/slam/slamlog.*
userdata/slam/*.bmp
userdata/slam/next_map_id.txt
src/CMakeLists.txt.user.*
test/mc_relocation_test/result/
test/mc_relocation_test_lk/result/
